doctype html
html
  head
    title=`${title}`
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
  body
    h1 Custom Object Table
    p To add a cactus, click #[a(href="/update-cobj") here]
    p To update an existing cactus, click the corresponding link below
    table
      tr
        th Cactus Name
        th Cactus Shape
        th Blooming Habits
      each cactus in data
        tr
          td #[a(href="/update-cobj?name=" + cactus.properties.name) #{cactus.properties.name}]
          td #{cactus.properties.shape}
          td #{cactus.properties.blooming_habits}
